[DEVICE]
Name=STM32F107VC
Clock=72000000
[BUILD_TYPE]
Value=0
[FILES]
Count=4
File0=Click_GSM_3_STM.mpas
File1=Click_GSM_3_config.mpas
File2=Click_GSM_3_types.mpas
File3=Click_GSM_3_timer.mpas
[HEADERS]
Count=0
[PLDS]
Count=1
File0=Click_GSM_3.pld
[Useses]
File0=GSM_3_STM32_M3
File1=UART
File2=String
File3=easymx_v7_STM32F107VC
Count=4

